<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><img src="<%= artist.image.thumbnail.url %>" class="img-circle" style="vertical-align: middle;" /><%= artist.name %></h1>  
      <div style="font-family: 'Fanwood Text'; font-size: 16px; margin-left: 212px; margin-top: -80px"><%- artist.description_html %></div>
      <div>
	<a href="/artist/edit/<%= artist.id %>" class="btn btn-primary">Edit</a>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Releases</h2>
      <% _.each(releases, function(release) { %>
      <div class="row">
	<img src="<%= release.cover.thumbnail.url %>" class="img-rounded"/>
	<h3><%= release.title %></h3>
      </div>
      <% }); %>
    </div>
  </div>
</div>
