<div class="container artist">
  <div class="row">
    <div class="col-md-8">
      <h1><% if(artist.images && artist.images.thumbnail) { %><img src="<%= artist.images.thumbnail.url %>" class="img-circle" style="vertical-align: middle;" /><% } %><%= artist.name %></h1>  
      <div style="font-family: 'Fanwood Text'; font-size: 16px; margin-left: 212px; margin-top: -80px"><%- artist.description_html %></div>
      <div>
	<a href="/artist/edit/<%= artist.id %>" class="btn btn-primary">Edit</a>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <% _.each(releases, function(release) { %>
      <div class="row">
	<a href="/release/<%= release.slug %>" class="release">
	  <img src="<%= release.cover.main.url %>" class="img-rounded"/>
	  <div class="title"><h3><%= release.title %></h3></div>
	</div>
      </a>
      <% }); %>
    </div>
  </div>
</div>
