<div>
  <ul class="releases">
  <% _.each(releases, function (release) {  %>
  <li class="release" id="<%= release.id %>">
    <a href="/releases/<%= release.id %>"> 
      <img src="<%= release.cover.main.url %>"/>
    </a>
    <h3><%= release.title %> | <% _.each(release.artists, function(artist) { %><a href="/artist/<%= artist %>"><%= artist %></a><% }) %></h3>
      <% for(format in release.formats) { %>
      <button class="btn" value="<%= release.formats[format].price %>" title="£<%= release.formats[format].price %>"><%= format %></button>
      <% } %>
  </li>
  <% }) %>
  </ul>
</div>
